In [1]:
import featuretools as ft
import pandas as pd

In [2]:
data = ft.demo.load_mock_customer()
transactions_df = data["transactions"].merge(data["sessions"]).merge(data["customers"])

transactions_df.sample(10)

,transaction_id,session_id,transaction_time,product_id,amount,customer_id,device,session_start,zip_code,join_date,birthday
264,380,21,2014-01-01 05:14:10,5,57.09,4,desktop,2014-01-01 05:02:15,60091,2011-04-08 20:08:14,2006-08-15
19,244,10,2014-01-01 02:34:55,2,116.95,2,tablet,2014-01-01 02:31:40,13244,2012-04-15 23:31:04,1986-08-18
314,299,6,2014-01-01 01:32:05,4,64.99,1,tablet,2014-01-01 01:23:25,60091,2011-04-17 10:48:33,1994-07-18
290,78,4,2014-01-01 00:54:10,1,37.50,1,mobile,2014-01-01 00:44:25,60091,2011-04-17 10:48:33,1994-07-18
379,457,27,2014-01-01 06:37:35,1,19.16,1,mobile,2014-01-01 06:34:20,60091,2011-04-17 10:48:33,1994-07-18
335,477,9,2014-01-01 02:30:35,3,41.70,1,desktop,2014-01-01 02:15:25,60091,2011-04-17 10:48:33,1994-07-18
293,103,4,2014-01-01 00:57:25,5,20.79,1,mobile,2014-01-01 00:44:25,60091,2011-04-17 10:48:33,1994-07-18
271,390,22,2014-01-01 05:21:45,2,54.83,4,desktop,2014-01-01 05:21:45,60091,2011-04-08 20:08:14,2006-08-15
404,476,29,2014-01-01 07:24:10,4,121.59,1,mobile,2014-01-01 07:10:05,60091,2011-04-17 10:48:33,1994-07-18
179,90,3,2014-01-01 00:35:45,1,75.73,4,mobile,2014-01-01 00:28:10,60091,2011-04-08 20:08:14,2006-08-15

In [3]:
products_df = data["products"]
products_df

  product_id brand
0          1     B
1          2     B
2          3     B
3          4     B
4          5     A

In [4]:
customers_df = data["customers"]
customers_df

   customer_id zip_code           join_date   birthday
0            1    60091 2011-04-17 10:48:33 1994-07-18
1            2    13244 2012-04-15 23:31:04 1986-08-18
2            3    13244 2011-08-13 15:42:34 2003-11-21
3            4    60091 2011-04-08 20:08:14 2006-08-15
4            5    60091 2010-07-17 05:27:50 1984-07-28

In [5]:
sessions_df = data["sessions"]
sessions_df

    session_id  customer_id   device       session_start
0            1            2  desktop 2014-01-01 00:00:00
1            2            5   mobile 2014-01-01 00:17:20
2            3            4   mobile 2014-01-01 00:28:10
3            4            1   mobile 2014-01-01 00:44:25
4            5            4   mobile 2014-01-01 01:11:30
5            6            1   tablet 2014-01-01 01:23:25
6            7            3   tablet 2014-01-01 01:39:40
7            8            4   tablet 2014-01-01 01:55:55
8            9            1  desktop 2014-01-01 02:15:25
9           10            2   tablet 2014-01-01 02:31:40
10          11            4   mobile 2014-01-01 02:47:55
11          12            4  desktop 2014-01-01 03:04:10
12          13            4   mobile 2014-01-01 03:15:00
13          14            1   tablet 2014-01-01 03:28:00
14          15            2  desktop 2014-01-01 03:41:00
15          16            2  desktop 2014-01-01 03:49:40
16          17            2   tablet 2014-01-01 04:00:30
17          18            1  desktop 2014-01-01 04:14:35
18          19            3  desktop 2014-01-01 04:27:35
19          20            5  desktop 2014-01-01 04:46:00
20          21            4  desktop 2014-01-01 05:02:15
21          22            4  desktop 2014-01-01 05:21:45
22          23            3  desktop 2014-01-01 05:32:35
23          24            5   tablet 2014-01-01 05:44:30
24          25            3  desktop 2014-01-01 05:59:40
25          26            1   tablet 2014-01-01 06:17:00
26          27            1   mobile 2014-01-01 06:34:20
27          28            5   mobile 2014-01-01 06:50:35
28          29            1   mobile 2014-01-01 07:10:05
29          30            5  desktop 2014-01-01 07:27:25
30          31            2   mobile 2014-01-01 07:42:35
31          32            5   mobile 2014-01-01 08:02:05
32          33            2   mobile 2014-01-01 08:10:45
33          34            3  desktop 2014-01-01 08:24:50
34          35            3   mobile 2014-01-01 08:44:20

In [6]:
transactions_df = data["transactions"]
transactions_df

     transaction_id  session_id    transaction_time product_id  amount
0               298           1 2014-01-01 00:00:00          5  127.64
1                 2           1 2014-01-01 00:01:05          2  109.48
2               308           1 2014-01-01 00:02:10          3   95.06
3               116           1 2014-01-01 00:03:15          4   78.92
4               371           1 2014-01-01 00:04:20          3   31.54
..              ...         ...                 ...        ...     ...
495             112          35 2014-01-01 08:56:15          5   55.42
496             111          35 2014-01-01 08:57:20          3   34.87
497             276          35 2014-01-01 08:58:25          1   10.94
498             266          35 2014-01-01 08:59:30          5   19.86
499             203          35 2014-01-01 09:00:35          3  148.31

[500 rows x 5 columns]

In [13]:
dataframes = {
    "customers": (customers_df, "customer_id"),
    "sessions": (sessions_df, "session_id", "session_start"),
    "transactions": (transactions_df, "transaction_id", "transaction_time"),
}
dataframes

{'customers': (   customer_id  zip_code           join_date   birthday
  1            1     60091 2011-04-17 10:48:33 1994-07-18
  2            2     13244 2012-04-15 23:31:04 1986-08-18
  3            3     13244 2011-08-13 15:42:34 2003-11-21
  4            4     60091 2011-04-08 20:08:14 2006-08-15
  5            5     60091 2010-07-17 05:27:50 1984-07-28,
  'customer_id'),
 'sessions': (    session_id  customer_id   device       session_start
  1            1            2  desktop 2014-01-01 00:00:00
  2            2            5   mobile 2014-01-01 00:17:20
  3            3            4   mobile 2014-01-01 00:28:10
  4            4            1   mobile 2014-01-01 00:44:25
  5            5            4   mobile 2014-01-01 01:11:30
  6            6            1   tablet 2014-01-01 01:23:25
  7            7            3   tablet 2014-01-01 01:39:40
  8            8            4   tablet 2014-01-01 01:55:55
  9            9            1  desktop 2014-01-01 02:15:25
  10          10            2   tablet 2014-01-01 02:31:40
  11          11            4   mobile 2014-01-01 02:47:55
  12          12            4  desktop 2014-01-01 03:04:10
  13          13            4   mobile 2014-01-01 03:15:00
  14          14            1   tablet 2014-01-01 03:28:00
  15          15            2  desktop 2014-01-01 03:41:00
  16          16            2  desktop 2014-01-01 03:49:40
  17          17            2   tablet 2014-01-01 04:00:30
  18          18            1  desktop 2014-01-01 04:14:35
  19          19            3  desktop 2014-01-01 04:27:35
  20          20            5  desktop 2014-01-01 04:46:00
  21          21            4  desktop 2014-01-01 05:02:15
  22          22            4  desktop 2014-01-01 05:21:45
  23          23            3  desktop 2014-01-01 05:32:35
  24          24            5   tablet 2014-01-01 05:44:30
  25          25            3  desktop 2014-01-01 05:59:40
  26          26            1   tablet 2014-01-01 06:17:00
  27          27            1   mobile 2014-01-01 06:34:20
  28          28            5   mobile 2014-01-01 06:50:35
  29          29            1   mobile 2014-01-01 07:10:05
  30          30            5  desktop 2014-01-01 07:27:25
  31          31            2   mobile 2014-01-01 07:42:35
  32          32            5   mobile 2014-01-01 08:02:05
  33          33            2   mobile 2014-01-01 08:10:45
  34          34            3  desktop 2014-01-01 08:24:50
  35          35            3   mobile 2014-01-01 08:44:20,
  'session_id',
  'session_start'),
 'transactions': (     transaction_id  session_id    transaction_time product_id  amount
  298             298           1 2014-01-01 00:00:00          5  127.64
  2                 2           1 2014-01-01 00:01:05          2  109.48
  308             308           1 2014-01-01 00:02:10          3   95.06
  116             116           1 2014-01-01 00:03:15          4   78.92
  371             371           1 2014-01-01 00:04:20          3   31.54
  ..              ...         ...                 ...        ...     ...
  112             112          35 2014-01-01 08:56:15          5   55.42
  111             111          35 2014-01-01 08:57:20          3   34.87
  276             276          35 2014-01-01 08:58:25          1   10.94
  266             266          35 2014-01-01 08:59:30          5   19.86
  203             203          35 2014-01-01 09:00:35          3  148.31

  [500 rows x 5 columns],
  'transaction_id',
  'transaction_time')}

In [8]:
relationships = [
    ("sessions", "session_id", "transactions", "session_id"),
    ("customers", "customer_id", "sessions", "customer_id"),
]

In [10]:
feature_matrix_customers, features_defs = ft.dfs(
    dataframes=dataframes,
    relationships=relationships,
    target_dataframe_name="customers",
)
feature_matrix_customers

C:\Users\mikeq\anaconda3\lib\site-packages\featuretools\entityset\entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index
  warnings.warn(
C:\Users\mikeq\anaconda3\lib\site-packages\featuretools\entityset\entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index, time_index
  warnings.warn(

,zip_code,COUNT(sessions),MODE(sessions.device),NUM_UNIQUE(sessions.device),COUNT(transactions),MAX(transactions.amount),MEAN(transactions.amount),MIN(transactions.amount),MODE(transactions.product_id),NUM_UNIQUE(transactions.product_id),...,STD(sessions.SKEW(transactions.amount)),STD(sessions.SUM(transactions.amount)),SUM(sessions.MAX(transactions.amount)),SUM(sessions.MEAN(transactions.amount)),SUM(sessions.MIN(transactions.amount)),SUM(sessions.NUM_UNIQUE(transactions.product_id)),SUM(sessions.SKEW(transactions.amount)),SUM(sessions.STD(transactions.amount)),MODE(transactions.sessions.device),NUM_UNIQUE(transactions.sessions.device)
customer_id,,,,,,,,,,,,,,,,,,,,,
1,60091,8,mobile,3,126,139.43,71.631905,5.81,4,5,...,0.589386,279.510713,1057.97,582.193117,78.59,40.0,-0.476122,312.745952,mobile,3
2,13244,7,desktop,3,93,146.81,77.422366,8.73,4,5,...,0.509798,251.609234,931.63,548.905851,154.60,35.0,-0.277640,258.700528,desktop,3
3,13244,6,desktop,3,93,149.15,67.060430,5.89,1,5,...,0.429374,219.021420,847.63,405.237462,66.21,29.0,2.286086,257.299895,desktop,3
4,60091,8,mobile,3,109,149.95,80.070459,5.73,2,5,...,0.387884,235.992478,1157.99,649.657515,131.51,37.0,0.002764,356.125829,mobile,3
5,60091,6,mobile,3,79,149.02,80.375443,7.55,5,5,...,0.415426,402.775486,839.76,472.231119,86.49,30.0,0.014384,259.873954,mobile,3

In [14]:
feature_matrix_sessions, features_defs = ft.dfs(
    dataframes=dataframes, relationships=relationships, target_dataframe_name="sessions"
)
feature_matrix_sessions.head(5)

C:\Users\mikeq\anaconda3\lib\site-packages\featuretools\entityset\entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index
  warnings.warn(
C:\Users\mikeq\anaconda3\lib\site-packages\featuretools\entityset\entityset.py:754: UserWarning: A Woodwork-initialized DataFrame was provided, so the following parameters were ignored: index, time_index
  warnings.warn(

,customer_id,device,COUNT(transactions),MAX(transactions.amount),MEAN(transactions.amount),MIN(transactions.amount),MODE(transactions.product_id),NUM_UNIQUE(transactions.product_id),SKEW(transactions.amount),STD(transactions.amount),...,customers.STD(transactions.amount),customers.SUM(transactions.amount),customers.DAY(birthday),customers.DAY(join_date),customers.MONTH(birthday),customers.MONTH(join_date),customers.WEEKDAY(birthday),customers.WEEKDAY(join_date),customers.YEAR(birthday),customers.YEAR(join_date)
session_id,,,,,,,,,,,,,,,,,,,,,
1,2,desktop,16,141.66,76.813125,20.91,3,5,0.295458,41.600976,...,37.705178,7200.28,18,15,8,4,0,6,1986,2012
2,5,mobile,10,135.25,74.696000,9.32,5,5,-0.160550,45.893591,...,44.095630,6349.66,28,17,7,7,5,5,1984,2010
3,4,mobile,15,147.73,88.600000,8.70,1,5,-0.324012,46.240016,...,45.068765,8727.68,15,8,8,4,1,4,2006,2011
4,1,mobile,25,129.00,64.557200,6.29,5,5,0.234349,40.187205,...,40.442059,9025.62,18,17,7,4,0,6,1994,2011
5,4,mobile,11,139.20,70.638182,7.43,5,5,0.336381,48.918663,...,45.068765,8727.68,15,8,8,4,1,4,2006,2011